<%# Available instance variables: @projects (an array or Project) %>
<%# Use "project" as variable name when iterating over the array %>
<%# Each project has: name, description, details, status,  user (the owner), users (the collaborators, an array)  %>


<h1>Huddle Hub</h1>

<% if user_signed_in? %>
  <p>Signed in as: <%= current_user.username %></p>
  <p>Sign Out</p>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { confirm: "You really want to sign out?" } %>
<% else %>
  <p><%= link_to 'Sign In', new_user_session_path %></p>
  <p><%= link_to 'Sign Up', new_user_registration_pathgst %></p>
<% end %>

<ul class="pb-3 flex items-center justify-center space-x-6 shadow-sm">
  <button>Graphics & Design</button>
  <button>Digital Marketing</button>
  <button>Music & Audio</button>
  <button>Programming & Tech</button>
</ul>
<div class="flex justify-between max-w-max gap-y-10 flex-wrap">
  <% @projects.each do |project| %>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="Project justify-center pb-3 font-bold"><%= project.name %></div>
        <p class="text-gray-700 text-base">
          <%= project.description %>
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= project.status %></span>
          <ul class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
          <button>Join</button>
      </div>
    </div>
  <% end %>

</div>
