<%# Available instance variables: @projects (an array or Project) %>
<%# Use "project" as variable name when iterating over the array %>
<%# Each project has: name, description, details, status,  user (the owner), users (the collaborators, an array)  %>




<div class="text-white gap-y-10 px-5 py-3 grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-1 gap-8 md:grid-cols-2 auto-cols-max items-stretch">
  <% @projects.each do |project| %>
    <div class="bg-white projectcard max-w-sm rounded overflow-hidden shadow-lg ">
      <div class="px-6 py-4 text-gray-700">
        <div class="project.name justify-center pb-3 font-bold"><%=  %></div>
        <p class=text-gray-400>
          <%= project.description %>
          <p class="text-gray-500"> Status: <%= project.status %></p>
        </p>
        <p class="text-gray-500">Owner: <%= project.user.first_name %> <%= project.user.last_name[0] %>.</p>
      </div>
      <div class="flex justify-between px-6 pt-4 pb-2">
        <p><%= link_to 'Details', project_path(project) %></p>
        <% if user_signed_in? %>
          <p>Join</p>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
