<%# Available instance variables: @projects (an array or Project) %>
<%# Use "project" as variable name when iterating over the array %>
<%# Each project has: name, description, details, status,  user (the owner), users (the collaborators, an array)  %>


<div class="max-w-screen-xl mx-auto px-8 pt-8 grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  <% @projects.each do |project| %>
    <div class="card-project group px-4 py-4 rounded-md bg-gray-100 transition duration-100 shadow-sm hover:shadow-lg flex flex-col justify-between">
      <div class="info">
        <div class="top-part">
          <div class='title'>
            <p class="pb-2 font-bold text-xl group-hover:text-red-700"><%= project.name.upcase %></p>
          </div>
          <div>
            <p class="text-gray-400 text-lg"><%= project.description %></p>
          </div>
        </div>
        <div class="Mid_part">
          <p><span class="font-bold">Status: </span><%= project.status %></p>
          <p><span class="font-bold">Collaborators: </span><%= project.collaborations.count %></p>
        </div>
    </div>
      <div class="action flex justify-between items-end">
        <%= link_to 'Details', project_path(project), class: "underline text-md" %>
        <% if user_signed_in? %>
            <%= link_to 'Join', projects_path, class: "text-md py-1 px-6 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
