<div class="grid max-w-screen-xl mx-auto px-4 py-8 grid-cols-1 lg:grid-cols-3 gap-8">
  <%# PROJECT INFO %>
  <div class="lg:col-span-2">
    <p class="pb-1 text-gray-400 text-xl"><%= @project.category.name %></p>
    <div class="text-primary-color pb-2 mt-2 mb-4 text-4xl font-bold">
      <%= @project.name.upcase %>
      <% if policy(@project).edit? %>
        <%= link_to edit_project_path(@project) do %>
          <i class="fas fa-pen text-lg text-gray-400"></i>
        <% end %>
      <% end %>
    </div>
    <div id="map" style="height: 400px;"
     data-markers="<%= @location.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     class="map w-full h-96 mb-6 bg-blue-100 rounded-lg
            flex justify-center items-center">
    </div>
    <div class="mb-4">
      <p class="text-primary-color text-2xl font-bold">Project Description</p>
      <p class="pl-4 mt-2 text-xl text-gray-600 text-justify"><%= @project.description %></p>
    </div>
    <div class="mb-4">
      <p class="text-primary-color text-2xl font-bold">Project Details</p>
      <p class="pl-4 mt-2 text-xl text-gray-600 text-justify"><%= @project.details %></p>
    </div>
    <div class="mb-4">
      <p class="text-primary-color text-2xl font-bold">Project Updates</p>
      <div class=" pl-4 mt-2 text-xl text-gray-600">
        <p>System - Nov 24, 2021 14:39</p>
        <p>Project created</p>
        <p>System - Nov 24, 2021 14:39</p>
        <p>Project created</p>
        <p>System - Nov 24, 2021 14:39</p>
        <p>Project created</p>
        <p>System - Nov 24, 2021 14:39</p>
        <p>Project created</p>
        <p>System - Nov 24, 2021 14:39</p>
        <p>Project created</p>
      </div>
    </div>
  </div>

  <%# COLLABORATORS INFO %>
  <div class="lg:col-span-1">
    <p class="text-primary-color mb-2 md:pt-24 text-xl font-bold">Project Owner</p>
    <div class="bg-gray-100 p-4 mb-6 rounded-lg flex space-x-4 items-center">
      <div class="profile-img w-36 h-36 p-0 bg-red-300 rounded-lg flex flex-shrink-0 justify-center items-center text-center">
        <% if @project.user.profile.photo.attached? %>
          <%= cl_image_tag @project.user.profile.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "profile-img shadow-md w-36 h-36 p-0 rounded-lg flex flex-shrink-0 justify-center items-center text-cente" %>
        <% else %>
          <%= image_tag "dummy-profile-pic.png", width: 150, height: 150, class: "profile-img shadow-md p-0 rounded-lg" %>
        <% end %>
      </div>
      <p class="text-2xl text-gray"><%= @project.user.first_name %> <%= @project.user.last_name %></p>
    </div>
    <p class="text-primary-color mb-2 text-xl font-bold">Project Collaborators (<%= @project.collaborations.count %>)</p>
    <div class="bg-gray-100 p-4 mb-2 rounded-lg">
      <% @project.collaborations.each do |c| %>
        <div class="p-0 mb-3 rounded-lg flex space-x-4 items-center">
          <div class="profile-img w-20 h-20 p-0 bg-red-300 rounded-lg flex flex-shrink-0 flex-grow-0 justify-center items-center text-center">
            <% if c.user.profile.photo.attached? %>
              <%= cl_image_tag c.user.profile.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "profile-img shadow-md w-20 h-20 p-0 rounded-lg flex flex-shrink-0 justify-center items-center text-cente" %>
            <% else %>
              <%= image_tag "dummy-profile-pic.png", width: 150, height: 150, class: "profile-img shadow-md p-0 rounded-lg" %>
            <% end %>
          </div>
          <p class="text-xl text-gray-600"><%= c.user.first_name %> <%= c.user.last_name %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
