<div class="grid max-w-screen-xl mx-auto px-4 py-4 grid-cols-1 lg:grid-cols-3 gap-8">
  <%# PROJECT INFO %>
  <div class="lg:col-span-2">
    <p class="pb-1 text-gray-400"><%= @project.category.name %></p>
    <div class="pb-2 mb-6 border-b-2 border-gray-400 text-4xl font-bold">
      <%= @project.name.upcase %>
      <% if policy(@project).edit? %>
        <%= link_to edit_project_path(@project) do %>
          <i class="fas fa-pen text-lg text-gray-400"></i>
        <% end %>
      <% end %>
    </div>
    <div class="map w-full h-96 mb-6 bg-blue-100 rounded-lg flex justify-center items-center">
      map
    </div>
    <div class="mb-4">
      <p class="text-md text-gray-600 font-bold">Project Description</p>
      <p><%= @project.description %></p>
    </div>
    <div class="mb-4">
      <p class="text-md text-gray-600 font-bold">Project Details</p>
      <p><%= @project.details %></p>
    </div>
    <div class="mb-4">
      <p class="text-md text-gray-600 font-bold">Project Updates</p>
      <p>System - Nov 24, 2021 14:39</p>
      <p>Project created</p>
      <p>System - Nov 24, 2021 14:39</p>
      <p>Project created</p>
      <p>System - Nov 24, 2021 14:39</p>
      <p>Project created</p>
      <p>System - Nov 24, 2021 14:39</p>
      <p>Project created</p>
      <p>System - Nov 24, 2021 14:39</p>
      <p>Project created</p>
    </div>
  </div>

<<<<<<< HEAD
<h3>Category</h3>
<p><%= @project.category.name %></p>

      <h1 class="px-2 border-2 border-black my-2 rounded-xl"><%= @project.name %></h1>
      <div class="px-2 border-2 border-black my-2 rounded-xl">
        <h3>Description</h3>
        <p><%= @project.description %></p>
      </div>
      <div class="px-2 border-2 border-black my-2 rounded-xl">
        <h3>Details</h3>
        <p><%= @project.details %></p>
      </div>
      <div class="px-2 border-2 border-black my-2 rounded-xl">
        <h3>Status</h3>
        <p><%= @project.status %></p>
      </div>
      <div class="px-2 border-2 border-black my-2 rounded-xl">
        <h3>Project Updates</h3>
        <p><%= @project.project_updates.count %></p>
      </div>
    </div>

    <div class= "container bg-blue-200 border-2 border-black shadow-xl rounded-md">
      <div class="px-2 border-2 border-black my-2 rounded-xl">
        <h3>Owner</h3>
        <div class="flex">
          <img class="inline object-cover w-8 h-8 mr-2 rounded-full" src="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Profile image"/>
          <p><%= @project.user.first_name %> <%= @project.user.last_name %></p>
        </div>
      </div>

      <div class="px-2 border-2 border-black my-2 rounded-xl">
        <h3>Collaborators (<%= @project.collaborations.count %>)</h3>
        <% @project.collaborations.each do |c| %>
          <div class="flex">
            <img class="inline object-cover w-8 h-8 mr-2 rounded-full" src="https://images.pexels.com/photos/2955305/pexels-photo-2955305.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Profile image"/>
            <p>Name: <%= c.user.first_name %> Status: <%= c.status %></p>
          </div>
        <% end %>
      </div>
=======
  <%# COLLABORATORS INFO %>
  <div class="lg:col-span-1">
    <p class="mb-2 text-1xl font-bold">Project Owner</p>
    <div class="bg-gray-200 p-4 mb-6 rounded-lg flex space-x-4 items-center">
      <div class="profile-img w-36 h-36 p-0 bg-red-300 rounded-lg flex flex-shrink-0 justify-center items-center text-center">
        Image
      </div>
      <p class="text-2xl"><%= @project.user.first_name %> <%= @project.user.last_name %></p>
    </div>
    <p class="mb-2 text-1xl font-bold">Project Collaborators (<%= @project.collaborations.count %>)</p>
    <div class="bg-gray-200 p-4 mb-2 rounded-lg">
      <% @project.collaborations.each do |c| %>
        <div class="bg-gray-200 p-0 mb-2 rounded-lg flex space-x-4 items-center">
          <div class="profile-img w-20 h-20 p-0 bg-red-300 rounded-lg flex flex-shrink-0 justify-center items-center text-center">
            Image
          </div>
          <p class=""><%= c.user.first_name %> <%= c.user.last_name %></p>
          <%= c.status %>
        </div>
      <% end %>
>>>>>>> 8a43cb2bc1ea9568620810607d70038213dceb48
    </div>
  </div>
</div>
