<div class="grid max-w-screen-xl mx-auto px-4 py-8 grid-cols-1 lg:grid-cols-3 gap-8">
  <%# PROJECT INFO %>
  <div class="lg:col-span-2">
    <p class="pb-1 text-gray-400 text-xl"><%= @project.category.name %></p>
    <div class="text-primary-color pb-2 mt-2 mb-4 text-4xl font-bold">
      <%= @project.name.upcase %>
      <% if policy(@project).edit? %>
        <%= link_to edit_project_path(@project) do %>
          <i class="fas fa-pen text-lg text-gray-400"></i>
        <% end %>
      <% end %>
    </div>
    <div id="map" style="height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     class="map w-full h-96 mb-6 bg-blue-100 rounded-lg
            flex justify-center items-center">
    </div>
    <div class="mb-4">
      <% if user_signed_in? %>
        <%# if the current user is the project owner show post update button %>
        <% if @project.user.id == current_user.id %>
          <button class="text-md py-1 px-6 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300"><%= link_to "Post Update", "/projects/#{@project.id}/project_updates/new" %></button>
        <%# if the current user is not the project owner and the user has no collabs for the project show join button %>
        <% elsif @project.user.id != current_user.id && !@collaborations.exists?(['user_id = ?', current_user.id]) %>
          <%= simple_form_for([@project, @collaboration]) do |f| %>
            <div class="hidden"><%= f.input :project_id, input_html: { value: "#{@project.id}" } %></div>
            <button><%= f.button :submit, "Ask to join!", class: "text-md py-1 px-6 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300"%></button>
          <% end %>
        <%# if the project is completed show completed %>
        <% elsif @project.status == "completed" %>
          <div class="text-md py-1 px-6 bg-gray-400 text-white-900 rounded transition duration-300">This project is complete.</div>
        <%# if user has collab with project and... %>
        <% elsif @collaborations.exists?(['user_id = ?', current_user.id]) %>
          <%# status is pending say request pending %>
          <% collab = @collaborations.where(user: current_user)[0] %>
          <% if collab.status == "pending" %>
            <div class="text-md py-1 px-6 bg-gray-400 text-white-900 rounded transition duration-300">Request pending.</div>
          <%# status is accepted show post update %>
          <% elsif collab.status == "accepted" %>
            <button class="text-md py-1 px-6 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300"><%= link_to "Post Update", "/projects/#{@project.id}/project_updates/new" %></button>
          <%# status is denied show denial %>
          <% elsif collab.status == "denied" %>
            <div class="text-md py-1 px-6 bg-gray-400 text-white-900 rounded transition duration-300">Your request has been denied.</div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="mb-4">
      <p class="text-primary-color text-2xl font-bold">Project Description</p>
      <p class="pl-4 mt-2 text-xl text-gray-600 text-justify"><%= @project.description %></p>
    </div>
    <div class="mb-4">
      <p class="text-primary-color text-2xl font-bold">Project Details</p>
      <p class="pl-4 mt-2 text-xl text-gray-600 text-justify"><%= @project.details %></p>
    </div>
    <div class="mb-4">
      <p class="text-primary-color text-2xl font-bold">Project Updates</p>
      <div class="pl-4 mt-2 text-xl text-gray-600">
        <% @project.project_updates.each do |post| %>
          <div class="border-5">
            <p><%= post.user.first_name %> <%= post.user.last_name %> (<%= post.created_at%>)</p>
            <p class="ml-2"><%= post.details %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%# COLLABORATORS INFO %>
  <div class="lg:col-span-1">
    <p class="text-primary-color mb-2 md:pt-24 text-xl font-bold">Project Owner</p>
    <div class="bg-gray-100 p-4 mb-6 rounded-lg flex space-x-4 items-center">
      <div class="profile-img w-36 h-36 p-0 bg-red-300 rounded-lg flex flex-shrink-0 justify-center items-center text-center">
        <% if @project.user.profile.photo.attached? %>
          <a href="../profiles/<%= @project.user.profile.id %>"><%= cl_image_tag @project.user.profile.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "profile-img shadow-md w-36 h-36 p-0 rounded-lg flex flex-shrink-0 justify-center items-center text-cente" %></a>
        <% else %>
          <a href="../profiles/<%= @project.user.profile.id %>"><%= image_tag "dummy-profile-pic.png", width: 150, height: 150, class: "profile-img shadow-md p-0 rounded-lg" %></a>
        <% end %>
      </div>
      <p class="text-2xl text-gray"><a href="../profiles/<%= @project.user.profile.id %>"> <%= @project.user.first_name %> <%= @project.user.last_name %></a></p>
    </div>
    <p class="text-primary-color mb-2 text-xl font-bold">Project Collaborators (<%= @collaborations.count %>)</p>
    <div class="bg-gray-100 p-4 mb-2 rounded-lg">
      <% @collaborations.each do |c| %>
        <div class="p-0 mb-3 rounded-lg flex space-x-4 items-center">
          <div class="profile-img w-20 h-20 p-0 bg-red-300 rounded-lg flex flex-shrink-0 flex-grow-0 justify-center items-center text-center">
            <% if c.user.profile.photo.attached? %>
              <%= cl_image_tag c.user.profile.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "profile-img shadow-md w-20 h-20 p-0 rounded-lg flex flex-shrink-0 justify-center items-center text-cente" %>
            <% else %>
              <a href="../profiles/<%= c.user.profile.id %>"><%= image_tag "dummy-profile-pic.png", width: 150, height: 150, class: "profile-img shadow-md p-0 rounded-lg" %></a>
            <% end %>
          </div>
          <div class="flex">
            <div class="text-xl text-gray-600"><a href="../profiles/<%= c.user.profile.id %>"><%= c.user.first_name %> <%= c.user.last_name %><br><%= c.status %></a></div>
            <div class="ml-3">
              <% if @project.user == current_user && c.status == 'pending' %>
                <%= simple_form_for([@project, @collaboration], url: "/projects/#{@project.id}/collaborations/#{c.id}", method: :put) do |f| %>
                  <div class="hidden"><%= f.input :status, input_html: { value: 'accepted' } %></div>
                  <button><%= f.button :submit, "Accept", class: "cursor-pointer w-24 m-1 text-md py-1 px-6 bg-green-400 hover:bg-green-300 text-green-900 hover:text-green-800 rounded transition duration-300"%></button>
                <% end %>
                <%= simple_form_for([@project, @collaboration], url: "/projects/#{@project.id}/collaborations/#{c.id}", method: :put) do |f| %>
                  <div class="hidden"><%= f.input :status, input_html: { value: 'denied' } %></div>
                  <button><%= f.button :submit, "Deny", class: "cursor-pointer w-24 m-1 text-md py-1 px-6 bg-red-400 hover:bg-red-300 text-red-900 hover:text-red-800 rounded transition duration-300"%></button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
